body {
    margin: 0;
    background-color: lightcoral;
}
a {
    color:crimson;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }


nav {
    background-color: mediumturquoise;
    height: 50px;
    width: 100%;
    text-align: center;
}

    nav a {
        display: inline-block;
        padding: 15px;
    }


.main-img {
    position:relative;
    height: 600px;
    background-image: url('../content/static/lunar-eclipse-senna-skin-splash-art-lol-4k-wallpaper-uhdpaper.com-519@1@g.jpg');
    background-position: center;
    background-size: cover;
}

.title{
    position:absolute;
    color: white;
    font-size:40px;
    left:50%;
    transform: translateX(-50%);
    top:35%;
    text-shadow: 0 0 8px black;
}
.container{
    max-width: 500px;
    width: 100%;
    margin: auto;
}
.post{
    margin: 5px;
    position:relative;
    display:flex;
    height:400px;
    box-shadow: 0 0 5px 0 black;
}
.post img{
    width:500%;
    object-fit:cover;

}
.post-body{
    margin:-5px 5px 0;
    padding: 20px 5px;
    background-color:aqua;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.no-shadow{
    box-shadow:none;
}